{% extends "app/base-index.html" %}
{% load static %}
{% block content %}
    <section class="position-relative py-4 py-xl-5" style="text-align: left;">
        <div id="signup-container" class="container">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Pricelist creation page</h2>
                    <p class="w-lg-50"></p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <form class="text-center" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <select class="form-select" id="subject-select" name="subject" aria-label="Select subject">
                                        <option value="">Choose subject</option>
                                        {% for subject_value, subject_display in subjects %}
                                        <option value="{{ subject_value }}">{{ subject_display }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3"><input class="form-control" type="number" name="hour_price" placeholder="Price for an hour"></div>
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Confirm</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
