{% extends "app/base.html" %}

{% block content %}
  <div class="tutor-profile">
    <h1>{{ tutor_profile.user.get_full_name }}</h1>
    <img src="{{ tutor_profile.profile_picture.url }}" alt="Profile Picture">
    <p>{{ tutor_profile.description_tutor }}</p>
    <ul>
      {% for pricelist in tutor_profile.pricelists %}
        <li>{{ pricelist.get_subject_display }} - {{ pricelist.hour_price }} PLN per hour</li>
      {% empty %}
        <li>This tutor has not listed any subjects yet.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
