{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Panel</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans&amp;display=swap">
<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Gamanet_Sidebar_v1.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="sidebar">
    <ul class="list-sidebar">
    <li class="list-sidebar-item"><a id="sidebar-back-link-id" class="list-sidebar-link d-flex align-items-center" href="../dashboard/home.html" style="height: 2.5rem;"><img class="list-sidebar-icon" src="{% static 'assets/img/icon_arrow-left.svg' %}" width="24" height="24"><span data-txt-key="txtSidebarBackLink">Cofnij</span></a></li>
    <li class="list-sidebar-item"><a id="sidebar-link-detail-id" class="list-sidebar-link d-flex align-items-center" href="../dashboard/home.html" style="height: 2.5rem;"><img class="rounded-circle" id="sidebar-main-icon-id" src="{% static 'assets/img/EngineerLogin.svg' %}" width="24" height="24"><span class="fw-bold" id="icon-name-id">{{ request.user.first_name }}</span></a></li>
    <li class="list-sidebar-item"><a id="sidebar-item-id1" class="list-sidebar-link d-flex align-items-center" href="#" style="height: 2.5rem;"><img class="list-sidebar-icon" src="{% static 'assets/img/icon_home.svg' %}" width="24" height="24"><span data-txt-key="txtSidebarItem1">Profil</span></a></li>
    <li class="list-sidebar-item"><a id="sidebar-item-id2" class="list-sidebar-link d-flex align-items-center active" href="#" style="height: 2.5rem;"><img class="list-sidebar-icon" src="{% static 'assets/img/icon_user.svg' %}" width="24" height="24"><span data-txt-key="txtSidebarItem2">Uczniowie</span></a></li>
    <li class="list-sidebar-item"><a id="sidebar-item-id3" class="list-sidebar-link d-flex align-items-center disabled" href="#" style="height: 2.5rem;"><img class="list-sidebar-icon" src="{% static 'assets/img/icon_calendar.svg' %}" width="24" height="24"><span data-txt-key="txtSidebarItem3">Kalendarz</span></a></li>
    </ul>
</div>
{% block content%}
{% endblock %}
</body>
</html>
