{% extends "app/base-home.html" %}
{% load static %}


{% block content %}
<body style="font-family: Montserrat, sans-serif;">
    <nav class="navbar navbar-expand-custom navbar-mainbg"><a class="navbar-brand navbar-logo" href="#">tutorApp</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-bs-label="Toggle navigation"><i class="fa fa-star fas fa-bars text-white"></i></button>
        <div class="d-lg-flex justify-content-lg-end collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="javascript:void(0);"><i class="fa fa-star fas fa-tachometer-alt"></i>Dashboard</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="height: 92px;width: 471px;"><strong>Your own tutor-student</strong><br><strong>platform</strong></h1>
                <p style="width: 500px;">Effortlessly connect with students.<br>Set up your price list with a single click and&nbsp; individual lessons.</p>
                <a href="{% url 'student-signup' %}" style="text-decoration: none;">
                <button class="btn btn-primary" type="button" style="height: 209px;width: 502.1406px;font-size: 110px;">START</button>
                </a>
                <a href="{% url 'tutor-signup' %}">
                    <p style="text-align: right;margin-right: 41px;width: 505px;">you're a tutor? click here</p>
                </a>
            </div>
            <div class="col"><img id="landpage-img-welcome" src="{% static 'assets/img/0d226515-0eba-41fd-b988-aaa92ada34e7.webp' %}"></div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/Responsive-Active-Navbar-script.js' %}"></script>
</body>
{% endblock %}
